.DS_Store
node_modules/
.env
.env.local
.env.*.local
dist/
.next/
out/
*.log
.turbo/
coverage/
cache/
out/
broadcast/
packages/contracts/script/
packages/contracts/artifacts/
packages/contracts/IBEACoreFlattened.sol
packages/contracts/IBEACoreClean.sol
.ponder/
